<div class="flex padd-20 modal--container" md-theme="schoolmanage-blue-theme">
  <div class="padd-20 modal--container">
    <img class="icon--yellow" src="images/icons/ISOLOGO-AMARILLO.png" alt="" />
    <p class="principal-message">Registro del Profesor Completo</p>
    <br>
    <div>
      <md-toolbar class="light-green lighten-4">
        <div class="md-toolbar-tools light-black-text">
          <i class="material-icons green-text text-darken-2">check</i>
         </div>
      </md-toolbar>
    </div>
    <br>
    <md-button ui-sref="app.teachersList" md-theme="schoolmanage-blue-theme" class="md-raised md-primary padd-lr-20" ng-click="hide()">Aceptar</md-button>
  </div>
</div>
