<nav class="dark-black-bg" ng-controller="HeaderCtrl">
  <div class="row nav-wrapper">
    <img class="icon-header--white" hide-xs hide-sm show-gt-sm src="images/icons/ISOLOGO-BLANCO.png" alt="" />
    <img class="icon-header--yellow" hide-gt-sm src="images/icons/ISOLOGO-AMARILLO.png" alt="" />
    <ul id="nav-mobile" class="right header--right-option" hide-xs hide-sm show-gt-sm>
      <li><a><img class="icon-option-header" src="images/icons/5.svg" alt="" /></a></li>
      <li ng-click="logoutConfirm()"><a><img class="icon-option-header" src="images/icons/6.svg" alt="" /></a></li>
    </ul>
  </div>
</nav>
<md-button ng-controller="SidenavCtrl" ng-click="toggleLeft()" hide-gt-sm class="menu">
  <i class="material-icons menu--icon">dehaze</i>
</md-button>
