<div ng-controller="SidenavCtrl" class="sidenav" ng-cloak>
  <section layout="row" flex class="sidenav-size">
    <md-sidenav
        class="md-sidenav-left dark-black-bg sidenav-size"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-sm')"
        md-whiteframe="4">
      <md-toolbar class="nav-header dark-black-bg">
        <div class="user-name uppercase">{{user.username}}</div>
        <div class="state-container"><span class="state-indicator"></span><span class="state">online</span></div>
      </md-toolbar>
      <md-content class="nav-content">
        <md-list flex>
          <md-list-item ui-sref="app.messaging" ui-sref-active="red-text">
           <md-icon class="white-text">send</md-icon>
           <span flex>Mensajeria</span>
          </md-list-item>
         <md-list-item ng-click="list.teachers = !list.teachers">
          <md-icon class="white-text">person_outline</md-icon>
          <span flex>Maestros</span>
          <md-icon class="white-text" ng-show="!list.teachers">expand_more</md-icon>
          <md-icon class="white-text" ng-show="list.teachers">expand_less</md-icon>
         </md-list-item>
           <md-list-item ng-show="list.teachers" ui-sref="app.newTeacher" ui-sref-active="red-text">
            <span class="sub-item">Nuevo maestro</span>
           </md-list-item>
           <md-list-item ng-show="list.teachers" ui-sref="app.teachersList" ui-sref-active="red-text">
            <span class="sub-item">Lista de maestros</span>
           </md-list-item>
         <md-list-item ng-click="list.students = !list.students">
          <md-icon class="white-text">supervisor_account</md-icon>
          <span flex>Estudiantes</span>
          <md-icon class="white-text" ng-show="!list.students">expand_more</md-icon>
          <md-icon class="white-text" ng-show="list.students">expand_less</md-icon>
         </md-list-item>
           <md-list-item ng-show="list.students" ui-sref="app.newStudent" ui-sref-active="red-text">
            <span class="sub-item">Nuevo estudiante</span>
           </md-list-item>
           <md-list-item ng-show="list.students" ui-sref="app.studentsList" ui-sref-active="red-text">
            <span class="sub-item">Lista de estudiantes</span>
           </md-list-item>  
           <md-list-item ui-sref-active="red-text">
             <md-icon class="white-text">search</md-icon>
             <span flex>Consultas</span>
          </md-list-item>
          <md-list-item ui-sref-active="red-text">
           <md-icon class="white-text">history</md-icon>
           <span flex>Histórico</span>
          </md-list-item>
        </md-list>
        <md-list flex hide-gt-sm class="down-list">
          <md-list-item>
            <md-icon><img src="images/icons/5.svg" alt="" /></span></md-icon>
            <span flex>Notificaciones</span>
          </md-list-item>
          <md-list-item ng-click="logoutConfirm()">
            <md-icon><img src="images/icons/6.svg" alt="" /></span></md-icon>
            <span flex>Cerrar sesión</span>
          </md-list-item>
        </md-list>
      </md-content>
    </md-sidenav>
  </section>
</div>
