
//BACKGROUNDS
.white-bg { background-color: $white !important; }
.light-black-bg { background-color: $light-black; }
.dark-black-bg { background-color: $dark-black !important; }
.grey-bg { background-color: $light-grey; }
.red-bg { background-color: $red !important; }
.yellow-bg { background-color: $yellow !important; }
.green-bg { background-color: $green !important; } 

//TEXTS COLOR
.white-text { color: $white; }
.light-black-text { color: $light-black !important; }
.dark-black-text { color: $dark-black !important; }
.grey-text { color: $dark-grey; }
.red-text { color: $red; }
.pink-text { color: $pink; }

//BORDERS COLOR
.grey-border { border: 2px solid $grey; }
