
//COLORS
$white: #fff;
$light-black: #1c1c1c;
$dark-black: #161616;
$light-grey: #eeeeee;
$grey: #d4d4d4;
$dark-grey: #666666;
$red: #f73f52;
$yellow: #FFAB00;
$pink: #f73f52;
$blue: #2196F3;
$green: #8BC34A;
