.m-0 {
  margin: 0;
}
.m-top-10 {
  margin-top: 7px;
}
.m-top-20 {
  margin-top: 20px;
}
.m-top-50 {
  margin-top: 50px;
}
.m-top--5 {
  margin-top: -5px;
}
.m-top--10 {
  margin-top: -10px;
}
.m-top--20 {
  margin-top: -20px;
}
.m-top--25 {
  margin-top: -25px;
}
.m-top-100 {
  margin-top: 100px;
}
.m-bottom-20 {
  margin-bottom: 20px;
}
.m-left-0 {
  margin-left: 0px;
}
.m-left-11 {
  margin-left: 11px;
}
.m-right-10 {
  margin-right: 10px;
}
.margin-lr-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.info-button-margins {
  margin-top: 20px;
  margin-right: 5px;
}
