.uppercase {
  text-transform: uppercase;
}
.text-ident {
  text-indent: 20px;
}
.padd-0 {
  padding: 0 !important;
}
.padd-20 {
  padding: 20px !important;
}
.padd-lr-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.padd-t-b-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.h-36 {
  height: 36px !important;
}
.h-450 {
  height: 450px;
}
.inline-flex {
  display: inline-flex !important;
}
.square-price {
  border: 1px solid $white;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  margin-top: 5px;
}
md-chips.chips-container {
  position: static;
  overflow: auto;
  width: 100%;
  height: 45px;
  display: flex !important;
}
md-chips-wrap#_md-chips-wrapper-1 {
  // display: flex !important;
}
md-chips.md-scort-red-theme-theme md-chip.md-focused {
  background: $red;
}
.flex-button {
  display: inline-flex;
}
.padd-lrt-0 {
  padding: 20px 20px 0px 20px !important;
}
.bold {
	font-weight: bold;
}
.h-36 {
	height: 36px !important;
}
.input-container-search {
  margin-top: 4px;
  margin-left: -10px;
  height: 20px;
}
.t-ident-15 {
  text-indent: 15px;
}
.w-30 {
  width: 30%;
}
.w-60 {
  width: 60%;
}
.w-100 {
  width: 100%;
}
.bot-arrow {
  position: absolute;
  z-index: -1;
  background: $green;
  width: 30px;
  height: 30px;
  bottom: -10px;
  transform: rotate(45deg);
}
.l-28 {
  left: 28px;
}
.l-128 {
  left: 128px;
}
.l-228 {
  left: 228px;
}
.l-328 {
  left: 328px;
}
.small-text {
  font-size: 20px;
}
.word-wrap {
  word-wrap: break-word;
}

.chip-tag {
  background: $grey;
  font-size: 12px;
  border-radius: 80px;
  display: inline-flex;
  margin-right: 25px;
  margin-bottom: 20px;
  padding-left: 20px;
  .tag-name {
    font-weight: bold;
  }
}
